body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

a,
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 32px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.part1 {
    background-color: #1F2937;
    display: flex;
    padding: 100px 20%;
    padding-bottom: 150px;
    gap: 5%;
    align-items: center;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
}

.part1-text {
    flex: 1;
}

.logo {
    max-width: 300px;
    max-height: 150px;
    flex: 1;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.logo-flex {
    justify-content: center;
    gap: 64px;
}

.logo-flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.small-logo {
    max-width: 150px;
    border: 3px solid skyblue;
    border-radius: 15px;
}

.part2,
.part3 {
    flex-direction: column;
    align-items: center;
    padding: 32px 20% 120px 20%;
    gap: 32px;
}

.part3 {
    background-color: #E5E7EB;
    padding-bottom: 50px;
    gap: 8px;
}

.inspiring-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author-sign {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

.part1,
.part2,
.part3,
.part4,
.logo-flex {
    display: flex;
}